sphinx~=2.4.0
sphinx-notfound-page
sphinx-version-warning
sphinx-prompt
sphinxemoji
sphinx-copybutton
sphinx-autoapi
myst-parser[sphinx]
sphinxcontrib-httpdomain

# themes
sphinx-material
sphinx-rtd-theme
sphinx-typlog-theme

# local building
sphinx-autobuild
